DQCollector_TST/Schemas/c2ib_AdhocDQCheck_input.xsd/c2ib_AdhocDQCheck_input.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="c2ib_AdhocDQCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="callbackReference"/>
        <xs:element type="xs:string" name="planReference"/>
        <xs:element type="xs:string" name="responseURL"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>