DQCollector_TST/Schemas/c2ib_AdhocDQCheck_output.xsd/c2ib_AdhocDQCheck_output.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="c2ib_AdhocDQCheck_output">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Status"/>
        <xs:element type="xs:byte" name="StatusCode"/>
        <xs:element type="xs:string" name="TemplateFileName"/>
        <xs:element type="xs:string" name="callbackReference"/>
        <xs:element type="xs:string" name="planReference"/>
        <xs:element type="xs:string" name="StatusMessage"/>
        <xs:element type="xs:string" name="sessionToken"/>
        <xs:element type="xs:string" name="clientSessionToken"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>